@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.4px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.bg-primary {
  background-color: #1860b6;
}

.bg-accent {
  background-color: #ecf5ff;
}

.btn-primary {
  background-color: #1860b6;
}

.text-primary {
  color: #1860b6;
}

.text-secondary {
  color: #2563eb;
}

.border-primary {
  border-color: #1860b6;
}

.decoration-primary {
  text-decoration-color: #1860b6;
}

.custom-spin {
  animation: customSpin 2s linear infinite; /* Change '3s' to your desired duration */
}

@keyframes customSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-color {
  background-color: #93c5fd;
}

.correct-answer {
  color: #14b8a6;
  --tw-border-opacity: 1;
  border-color: rgb(45 212 191 / var(--tw-border-opacity));
  border-bottom-width: 2px;
}

.correct-feedback {
  --tw-text-opacity: 1;
  color: rgb(6 182 212 / var(--tw-text-opacity));
}

.incorrect-feedback {
  --tw-text-opacity: 1;
  color: rgb(244 63 94 / var(--tw-text-opacity));
}