@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.4px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.bg-primary {
  background-color: #1860b6;
}

.bg-accent {
  background-color: #ecf5ff;
}

.btn-primary {
  background-color: #1860b6;
}

.text-primary {
  color: #1860b6;
}

.text-secondary {
  color: #2563eb;
}

.border-primary {
  border-color: #1860b6;
}

.decoration-primary {
  text-decoration-color: #1860b6;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
